
.checkH2{
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    background-color: rgba(201, 240, 179, 0.452);
    text-transform: uppercase;
    color: gray;
}

.checkH3{
    
    text-align: center;
    margin: 10px;
    ;
}

.checkOutContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin: 20px;
    
}

.totalCheckOut{
    margin-right: 20px;
}

.checkItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}





