
.vaciarButton{
    margin: 10px;
}

.comprarButton{
    margin: 10px;
}

.total{
    display: flex;
    justify-content: center;
    width: 100%;
    
}


.buttonContainer{
    display: flex;
    
}
