.footerContainer{
    background-color: rgba(201, 240, 179, 0.452);
    display: flex;
    flex-direction: column;
}

.footerCategories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    
}

.footerCopyright{
    margin-top: 30px;
    display: flex;
    text-align: center;

}
