.carrousel{
    margin-top: 70px;
}

.homeTextContainer{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/trep-ar.appspot.com/o/Trepar-Logo.png?alt=media&token=e164636d-c114-4695-86e2-da356defe856");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.homeH2{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 50px;
    text-transform: uppercase;
    color: gray;
    text-align: center;
}

.homeText{
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.74);
    color: gray;
    text-align:justify
}