.list__containerl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerl{
    margin-top: 40px;
    margin-left: 40px;
    width: 300px;
}

.linkProducto{
    text-decoration: none;
}